:root {
    --dark: #282c34;
    --medium: darkgray;
    --light: grey;
}

.task-list::-webkit-scrollbar {
    width: 12px;
}
.task-list::-webkit-scrollbar-track {
    background: var(--dark);

}
.task-list::-webkit-scrollbar-thumb  {
    background-color: var(--medium);
    opacity: 0;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 4vw;
    }
    .title {
        font-size: 6.5vw;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 767px) {
    body {
        font-size: 1.5vw;
    }
    .title {
        font-size: 2.5vw;
        text-align: center;
        text-transform: uppercase;
    }
    .task-list-container {
        max-width: 80%;
        margin: auto;
    }
}

.container {
    margin: 0 auto;
}