:root {
    --dark: #282c34;
    --medium: grey;
    --light: lightgray;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 4vw;
    }
    .title {
        font-size: 6.5vw;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 767px) {
    body {
        font-size: 1.5vw;
    }
    .title {
        font-size: 2.5vw;
        text-align: center;
        text-transform: uppercase;
    }
    .task-list-container {
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

.container {
    margin: 0 auto;
}